body {
  margin: 0;
  padding: 0;
  border:  0;
}

.container {
  position: absolute;
  bottom: 0;
  background: linear-gradient(45deg, teal, darkviolet) fixed;
  background: -moz-linear-gradient(45deg, teal, darkviolet) fixed;
  background: -webkit-linear-gradient(45deg, teal, darkviolet) fixed;
  background: -o-linear-gradient(45deg, teal, darkviolet) fixed;
  text-align: center;
}

.hello-world {
  position: absolute;
  top: 128px;
  color: white;
  font-size: 64px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
