body {
  background: linear-gradient(45deg, teal, purple) fixed;
  background: -moz-linear-gradient(45deg, teal, purple) fixed;
  background: -webkit-linear-gradient(45deg, teal, purple) fixed;
  background: -o-linear-gradient(45deg, teal, purple) fixed;
  text-align: center;
  margin-top: 128px;
}

.hello-world {
  color: white;
  font-size: 64px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
}
